/* Reset CSS per rimuovere il margin e padding predefiniti */
body,
h1,
h2,
p,
form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: left; /* Aggiunto per allineare tutti gli elementi a sinistra */
    margin: 20px; /* Aggiunto uno spazio dal bordo della pagina */
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    padding: 5px;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Aggiunto per allineare il testo a sinistra nelle celle della tabella */
}

th {
    background-color: #f2f2f2;
}

/* Aggiungi stili aggiuntivi secondo necessità */
